# Backend
backend/target/
backend/.classpath
backend/.project
backend/.factorypath
backend/.settings/

# Frontend
frontend/node/
frontend/node_modules/
frontend/.classpath
frontend/.projet
frontend/.settings

# imgProcessing
imgProcessing/target/